<div class="port-nav">
  {{#link-to 'work.broadcast'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-television" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">BROADCAST</li>
    </ul>
{{/link-to}}
{{#link-to 'social'}}
  <ul class="port-nav__item">
    <li class="port-nav__li-icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></li>
    <li class="port-nav__li-title">EXPERIENCE</li>
  </ul>
{{/link-to}}
{{#link-to 'work.development'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-laptop" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">DEVELOPMENT</li>
    </ul>
  {{/link-to}}

</div>
