
.graduate-blog {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
  color: $accent-tan;
}

.blog-link {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;

  &:hover {
    color: $brand-secondary;
    border-bottom: 2px $brand-gold solid;
  }
}

.bottom-card {
  margin-bottom: 3rem;
}
