// CONTACT //

.contact-graph {
  width: 70%;
  color: #fff;
  margin: auto;
  text-align: justify;
}

.contact-icon {
  font-size: 3em;
    color: $brand-gold;

}

.contact-icon:hover {
  color: $brand-secondary;

}
