.creative-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creative-grid__item {
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem;
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: $secondary-blue;
}

.creative-grid__video {
  width: 100%;
  height: 600px;
}

.creative-grid__title {
  font-size: 3rem;
  margin: 0;
  text-align: center;
  padding: 1rem 0;
  color: $accent-tan;
  border-bottom: 2px solid $accent-tan;
}

.creative-grid__graph {
  width: 80%;
  margin: auto;

}
