
.primary {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  height: calc(80vh - 200px);
  flex-direction: column;
  padding:0;
  align-items: center;
  background: url('../sleepbw.png') no-repeat bottom fixed;
  background-size: cover;
  border-bottom: 10px solid $accent-teal;
}

.primary-title {
  font-size: 8rem;
  color: $primary-black;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-bottom: 5px $primary-black solid;
  font-family: 'Unica One', sans-serif;
  text-shadow: 2px 2px 4px $accent-teal;
  background: $light-white;
  border: 5px solid $primary-black;
}

.sub-title {
  font-family:'Unica One', sans-serif;
  color: $primary-black;
  font-size: 2rem;
  font-weight: bold;
  background: $light-white;
  padding: 1rem 2rem;
  border: 5px solid $primary-black;
}
