
.primary {
  display: flex;
  width: 100%;
  margin-top: 60px;
  height: calc(100vh - 200px);
  flex-direction: column;
  padding:0;
  align-items: center;
  background: url('../atx.jpg') no-repeat bottom fixed;
  background-size: cover;
  border-bottom: 10px solid $accent-tan;
}


.primary-title {
  font-size: 8rem;
  color: $primary-white;
  margin: auto;
  margin-top: 0.5em;
  padding-bottom: 0.2rem;
  border-bottom: 5px $accent-tan solid;
  font-family: 'Unica One', sans-serif;
  text-shadow: 2px 2px 4px #000;


}

.sub-title {
  font-family: sans-serif;
  color: $secondary-blue;
  font-size: 1.2rem;
  font-weight: bold;
  background: $light-white;
  padding: 1rem 2rem;
  border: 5px solid $secondary-blue;
  font-family: 'Playfair Display', serif;

}
