.resume-heading {
  text-align: center;
  color: $brand-gold;
  font-size: 5em;
  border-bottom: 3px $brand-gold solid;
  margin: 0;
}


.sub-title {
  text-align: center;
  width: 100%;
  margin: 0;
  color: $brand-grey;
  padding-top: 0.2rem;
}

.resume-list {
  padding-left: 0.5rem;
  margin-top: 1rem;
}

.resume-title {
  color: $brand-secondary;
  font-weight: bold;
  text-decoration: underline;
}

.resume-li {
  display: flex;
  justify-content: space-between;
  margin:0 1rem 0.5rem;
  list-style: none;
  padding-left: 1rem;
}

.resume-top__li {
  text-decoration: underline;
}

.resume-position,
.resume-company,
.resume-year {
  font-weight: bold;
}

.resume-position {
  color: $brand-gold;
}

.resume-year {
  color: $brand-secondary;
}

.resume-references {
  padding-top: 0.5rem;
  font-weight: bolder;
  font-style: italic;
  color: $brand-gold;
}
