

.resume {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 1rem;
}

.table-title {
  font-size: 2rem;
  color: $brand-secondary;
  font-weight: bold;
  width: 100%;
  border-bottom: 3px $brand-secondary solid;
}

.resume-head {
  text-align: left;
}

.resume-head-row {
  width: 100%;
}

.resume-row__li {
  font-weight: bold;
  font-size: 1.1rem;
}

.resume-row__title {
  width: 20%;
}

.resume-row__year {
  width: 10%;
  color: $brand-gold;
}

.resume-row__company {
  color: $brand-secondary;
}

.resume-body {
  text-align: left;
  padding-top: 1rem;
}

.assets-title {
  margin-bottom: 0;
}

.assets-graph {
  font-size: 1.2rem;
  padding: 0 1rem 0;
  margin-bottom: 1rem;
}

.references {
  text-align: center;
  font-style: italic;
}
