
.top-nav {
  display: flex;
  min-width: 100%;
  margin: auto;
  justify-content: space-around;
  text-align: center;
  background: $secondary-blue;
}

.top-nav__group {
  display: flex;
}

.top-nav__item {
  list-style: none;
  padding: 0.5rem 1rem;
  color: $primary-white;
  font-weight: bold;

  &:hover {
    color: $accent-red;
  }

  li {
    font-size: 1.2rem;
  }
}
