
/*WORK*/

.work {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  min-height: 550px;
  margin: auto;
  background: $brand-grey;
  border: 3px $brand-gold solid;
}

.work-title {
  text-align: center;
  color: $brand-gold;
  font-size: 6em;
  border-bottom: 3px $brand-gold solid;
  margin: 0;
  padding: .3em 0;
}

.work-graph {
  width: 70%;
  margin: auto;
  padding-top: 1em;
  font-size: 1.5em;
  text-align: justify;
  color: $brand-bright-white;
}

.work-section {
  margin-top: 2rem;
  display: flex;
}

.work-section__title {
  font-size: 3rem;
  line-height: 3rem;
  padding: 1rem 0;
  margin-bottom: 0;
  color: $brand-secondary;
  border-top: 3px $brand-gold solid;
  border-bottom: 3px $brand-gold solid;
  text-align: center;
}

.wsd-grid__1 {
  margin-bottom: 0.5rem;
}
.wsd-grid__1 {
  margin-top: 0.5rem;
}

.work-section__dev-grid {
  display: flex;
  margin: 1rem;
  text-align: center;
}

.dev-grid__card {
  flex: 1;
  flex-wrap: wrap;
  max-width: 33.33%;
  padding: 0;
  list-style: none;
  margin: 0.5rem;
  border: 3px $brand-black solid;
  background: lighten($brand-black, 10%);
}

.dev-grid__card-img {
  max-width: 100%;
}

.dev-grid__card-title {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-bottom: 3px $brand-gold solid;

}


.dev-grid__card-graph {
  color: $brand-white;
}
