
/*WORK*/

.work {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-top: 1rem;
  margin: auto;
  background: $secondary-blue;
}

.page-titles {
  text-align: center;
  color: $accent-tan;
  font-size: 5em;
  margin: 0;
  padding: .3em 0;
  text-shadow: 2px 2px 4px #000;

}


//PORT NAV//

.port-nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 70%;
  margin: auto;
  border-bottom: 10px solid $accent-red;
}

.port-nav__item {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
  color: $accent-tan;
}

.port-nav__item:hover .port-nav__li-title {
  opacity: 1;
  color: $primary-white;
}

.port-nav__item:hover .port-nav__li-icon {
  color: $accent-red;
}

.port-nav__li-icon {
  font-size: 7rem;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px #000;

}

.port-nav__li-title {
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
}
