.top {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.top-nav_ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.top-nav_li {
  padding: 5px;
  text-align: center;
}

.top-cover {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 100px;
  border-bottom: 1em solid #000;
}

.top-h2 {
  font-size: 3em;
  padding: 0;
  margin: 0;
  font-family: 'Permanent Marker';

}
