body {
  background: url("../david.jpg") fixed center no-repeat;
  padding:0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}
a h2{
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

a i, a i:visited {
  color: #9F792C;
}

a i:active {
  color: #000;
}

.top {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: flex-start

}

.top-nav_ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.top-nav_li {
  padding: 5px;
  text-align: center;
}

.top-cover {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 660px;
  justify-content: center;
  padding-top: 300px;
  margin-left:100px;
  margin-top: 50px;
  margin-bottom: 0;
  margin-right: 100px;
  background: linear-gradient(to top, rgba(0, 103, 120, 0.64), rgba(0, 103, 120, 0));
}

.top-cover_tab {
  padding-top: 0;
  padding-bottom: 250px;
  border-bottom: 0;
  margin-top: 0;
  background: linear-gradient(to bottom, rgba(0, 103, 120, 0.64), rgba(0, 103, 120, 0));
}



.top-h2 {
  font-size: 4em;
  padding: 0;
  margin: 0;
  font-family: 'Permanent Marker';
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

.top-h2_down {
  font-size: 3em;
}

.line {
  width: 200px;
  margin: auto;
  background: #000;
}

#sub-sub-title {
  padding-bottom: 50px;
  color: rgba(#006778, 0.64);
}

.top-p {
  font-size: 1em;
  color: #9F792C;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Permanent Marker';
  padding-left: 200px;
  padding-right: 200px;
}
 .top-p_icon {
   font-size: 2.5em;
 }

 .middle-cover {
   display: flex;
   flex-direction: column;
   align-self: center;
   justify-content: center;
 }

 .fa {
   padding-left: 5px;
   padding-right: 5px;
 }

 .fa:hover {
   color: #000;
 }

a:visited {
  color: #9F792C;
}

.fa:active .top-cover_tab {
  opacity: 1;
  transition: 1000ms;
}


/*Grab Coffee*/
