$brand-black: #fff;
$brand-primary: #eee;
$brand-gold: #9F792C;
$brand-grey: #333;
$brand-secondary: #006778;
$brand-bright-white: #000;

@import 'base';
@import 'primary';
@import 'topnav';
@import 'work';
@import 'capstone';
@import 'contact';
@import 'social';
