<div class="primary-contact__grid">
  <div class="contact">
    <p>
      <a href=tel:9044856991 target="_blank">
          <p class="contact-text">Call</p>
          <i class="fa fa-phone contact-icon"></i>
      </a>
      <p class="contact-text hide">904.485.6991</p>
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="mailto:dcawton@gmail.com" target="_blank">
        <p class="contact-text">Email</p>
        <i class="fa fa-envelope-o contact-icon"></i>
      </a>
      <p class="contact-text hide">dcawton@gmail.com</p>
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://www.linkedin.com/in/david-cawton-ii-a6129b54
" target="_blank">
        <p class="contact-text">LinkedIn</p>
        <i class="fa fa-linkedin contact-icon"></i>
      </a>
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/davidcawton" target="_blank">
        <p class="contact-text">Git Repo</p>
        <i class="fa fa-github contact-icon"></i>
      </a>
    </p>
  </div>
</div>
