
  <div class="top-nav">
    {{#link-to "index"}}
      <ul class="top-nav__item">
        <li class="top-nav__li-icon"><i class="fa fa-home" aria-hidden="true"></i></li>
      </ul>
    {{/link-to}}
    {{#link-to "work"}}
      <ul class="top-nav__item">
        <li class="top-nav__li-icon"><i class="fa fa-black-tie" aria-hidden="true"></i></li>
        <li class="top-nav__li-title">Portfolio</li>
      </ul>
    {{/link-to}}
    {{#link-to "social"}}
      <ul class="top-nav__item">
        <li class="top-nav__li-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></li>
        <li class="top-nav__li-title">Resume</li>
      </ul>
    {{/link-to}}
    {{#link-to "coffee"}}
      <ul class="top-nav__item">
        <li class="top-nav__li-icon"><i class="fa fa-coffee" aria-hidden="true"></i></li>
        <li class="top-nav__li-title">Contact</li>
      </ul>
    {{/link-to}}

  </div>
