<div class="port-nav">
      <ul class="port-nav-list">
        <a href="https://twitter.com/davidcawton" target="_blank">
        <li class="top-nav__li-icon"><i class="fa fa-twitter" aria-hidden="true"></i></li>
      </a>
      <a href="mailto:dcawton@gmail.com" target="_blank">
        <li class="top-nav__li-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
      </a>
      <a href="https://www.linkedin.com/in/david-cawton" target="_blank">
        <li class="top-nav__li-icon"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
      </a>
      <a href="https://github.com/davidcawton" target="_blank">
        <li class="top-nav__li-icon"><i class="fa fa-github" aria-hidden="true"></i></li>
      </a>
      </ul>
</div>
