<h3 class="work-section__title">| BROADCAST JOURNALISM <i class="fa fa-television title-icon"></i> |</h3>
<p class="work-graph">
  Below you'll find both current Anchor and Reporter Reels. Additionally, you'll find links to some of my best work down the page as a reporter.
</p>

{{!-- ANCHORING EXAMPLES   --}}

<div class="creative-grid">
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Anchor Reel</h3>
    <iframe class="creative-grid__video" src="https://www.youtube.com/embed/60AQraAgA1c" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Reporting Reel</h3>
    <iframe class="creative-grid__video" src="https://www.youtube.com/embed/kn5-dfpAkdo" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

{{!-- REPORTING EXAMPLES GRID 1  --}}
<h3 class="creative-grid__title">Reporting Examples</h3>
<div class="work-grid">
  <a href="http://www.twcnews.com/tx/austin/news/2016/10/11/texans-wait-until-the-last-minute-to-register-to-vote.html" target="_blank">
    <ul class="work-grid__card">
      <li class="work-grid__card-li">
        <img src="http://bit.ly/2f2yiQD" alt="" class="work-grid__card-img">
      </li>
      <li class="work-grid__card-li work-grid__card-li-btm">
        <h4 class="work-grid__card-title">Late Registration</h4>
        <p class="work-grid__card-body">
          A story on Texas voters waiting to register.
        </p>
      </li>
    </ul>
  </a>
  <a href="http://www.twcnews.com/tx/austin/news/2016/07/12/dfps-commissioner-introduces-plans-to-rebuild-embattled-foster-care-system.html" target="_blank">
    <ul class="work-grid__card">
      <li class="work-grid__card-li">
        <img src="http://bit.ly/2f3zPWp" alt="" class="work-grid__card-img">
      </li>
      <li class="work-grid__card-li work-grid__card-li-btm">
        <h4 class="work-grid__card-title">New DFPS Commissioner</h4>
        <p class="work-grid__card-body">
          "The era of business as usual has ended."
        </p>
      </li>
    </ul>
  </a>

  <a href="http://www.twcnews.com/tx/austin/news/2016/09/13/hazlewood-funding-battle-continues-at-the-capitol.html" target="_blank">
    <ul class="work-grid__card bottom-card">
      <li class="work-grid__card-li">
        <img src="http://bit.ly/2epqgQr" alt="" class="work-grid__card-img">
      </li>
      <li class="work-grid__card-li work-grid__card-li-btm">
        <h4 class="work-grid__card-title">Hazlewood Act</h4>
        <p class="work-grid__card-body">
          Texans Vets & Education.
        </p>
      </li>
    </ul>
  </a>

</div>

<div class="work-grid">
  <a href="http://www.twcnews.com/tx/austin/dnc-2016-features/2016/07/28/hillary-clinton-supporters-say-her-historic-nomination-was-worth-the-wait.html
" target="_blank">
    <ul class="work-grid__card">
      <li class="work-grid__card-li">
        <img src="http://bit.ly/2f2sLJY" alt="DNC: Historic Nomination" class="work-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-grid__card-title">DNH: Historic Nomination<</h4>
        <p class="work-grid__card-body">
          Texans React to Clinton's Nomination in Philly.
        </p>
      </li>
    </ul>
  </a>
  <a href="http://www.twcnews.com/tx/austin/dnc-2016-news/2016/07/27/bernie-sanders-supporters-stage-sit-in-protest-at-democratic-national-convention-media-tent.html
  " target="_blank">
    <ul class="work-grid__card">
      <li class="work-grid__card-li">
        <img src="http://bit.ly/2e2EwgX" alt="" class="work-grid__card-img">
      </li>
      <li class="work-grid__card-li work-grid__card-li-btm">
        <h4 class="work-grid__card-title">DNC: Sanders Protest </h4>
        <p class="work-grid__card-body">
          Angry Sanders Supporters Protest Clinton.
        </p>
      </li>
    </ul>
  </a>

  <a href="http://www.twcnews.com/tx/austin/dnc-2016-news/2016/07/28/as-dnc-draws-to-a-close--attention-turns-to-party-unity.html" target="_blank">
    <ul class="work-grid__card">
      <li class="work-grid__card-li">
        <img src="http://bit.ly/2f3zTVS" alt="" class="work-grid__card-img">
      </li>
      <li class="work-grid__card-li work-grid__card-li-btm">
        <h4 class="work-grid__card-title">DNC: Time To Pivot</h4>
        <p class="work-grid__card-body">
          Texas Democrats Pivot to November.
        </p>
      </li>
    </ul>
  </a>
</div>

<div class="work-grid">
  <a href="http://www.twcnews.com/tx/austin/rnc-2016-news/2016/07/19/texas-lawmakers-stress-importance-of-unity--support-for-trump-at-rnc.html" target="_blank">
    <ul class="work-grid__card">
      <li class="work-grid__card-li">
        <img src="http://bit.ly/2fl3myn" alt="" class="work-grid__card-img">
      </li>
      <li class="work-grid__card-li work-grid__card-li-btm">
        <h4 class="work-grid__card-title">RNC: Party Unity</h4>
        <p class="work-grid__card-body">
          Republican Leaders Back Trump.
        </p>
      </li>
    </ul>
  </a>
  <a href="http://www.twcnews.com/tx/austin/news/2016/07/21/watch--ted-cruz-responds-to-booing-response-at-texas-delegation-breakfast.html" target="_blank">
    <ul class="work-grid__card">
      <li class="work-grid__card-li">
        <img src="http://bit.ly/2ecEGWg" alt="" class="work-grid__card-img">
      </li>
      <li class="work-grid__card-li work-grid__card-li-btm">
        <h4 class="work-grid__card-title">RNC: Cruz Clash</h4>
        <p class="work-grid__card-body">
          Texans Brush Back Cruz Speech.
        </p>
      </li>
    </ul>
  </a>

  <a href="http://www.twcnews.com/tx/austin/rnc-2016-features/2016/07/20/lone-star-state-s-presence-at-rnc-is-large.html" target="_blank">
    <ul class="work-grid__card">
      <li class="work-grid__card-li">
        <img src="http://bit.ly/2eKmIvf" alt="" class="work-grid__card-img">
      </li>
      <li class="work-grid__card-li work-grid__card-li-btm">
        <h4 class="work-grid__card-title">RNC: Texas in Ohio</h4>
        <p class="work-grid__card-body">
          The Texas Delegation Heads to Ohio.
        </p>
      </li>
    </ul>
  </a>
</div>
