<h3 id='work-section__grid-title' class="work-section__title"> Broadcast Journalism <i class="fa fa-newspaper-o" aria-hidden="true"></i></h3>
<p class="work-graph">
  Since 2013, I've worked as broadcast journalist in Louisiana, Arkansas and Texas. I've done just about everything in the small and medium size market newsroom. At KTVE in Monroe Louisiana, I started as the South Arkansas Bureau Reporter, before moving
  up to Weekend Anchor & Producer, and finally to Morning Anchor & Producer. In 2015, I made my way to our Little Rock Affiliate, before taking a break to complete my Masters Degree. In 2016, I made the move to Austin, Texas to work on Spectrum News and Capital Tonight. While on the political beat, I covered state and national politics, the 2016 presidential election, the Texas Legislature and other localized political stories. I
    also filled in on the Anchor desk from time to time.
</p>
<p class="work-graph">
Below, you'll find links to stories I've done over the past year.
</p>
<div class="work-section__grid">

  <a href="https://www.youtube.com/watch?v=84CWjFL09EY&list=PLBedxUZkzDbOwNMiq_k-ghB0dW2fRh9dJ&index=4" target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2e2JcDm" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">Anchor Reel</h4>
        <p class="work-section-grid__card-graph">
          A compilation of anchoring clips.
        </p>
      </li>
    </ul>

  </a>
  <a href="https://www.youtube.com/watch?v=dBI1egoGGjw&list=PLBedxUZkzDbOwNMiq_k-ghB0dW2fRh9dJ&index=3" target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2dTHr0e" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">Reporter Reel</h4>
        <p class="work-section-grid__card-graph">
          Some of my reporter standups and clips.
        </p>
      </li>
    </ul>
  </a>

  <a href="http://www.twcnews.com/tx/austin/news/2016/10/11/texans-wait-until-the-last-minute-to-register-to-vote.html" target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2f2yiQD" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">Late Registration</h4>
        <p class="work-section-grid__card-graph">
          A story on Texas voters waiting to register.
        </p>
      </li>
    </ul>
  </a>
</div>

<div class="work-section__grid">

  <a href="http://www.twcnews.com/tx/austin/dnc-2016-features/2016/07/28/hillary-clinton-supporters-say-her-historic-nomination-was-worth-the-wait.html
" target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2f2sLJY" alt="DNC: Historic Nomination" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">DNH: Historic Nomination<</h4>
        <p class="work-section-grid__card-graph">
          Texans React to Clinton's Nomination in Philly.
        </p>
      </li>
    </ul>
  </a>

  <a href="http://www.twcnews.com/tx/austin/dnc-2016-news/2016/07/27/bernie-sanders-supporters-stage-sit-in-protest-at-democratic-national-convention-media-tent.html
  " target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2e2EwgX" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">DNC: Sanders Protest </h4>
        <p class="work-section-grid__card-graph">
          Angry Sanders Supporters Protest Clinton.
        </p>
      </li>
    </ul>
  </a>

  <a href="http://www.twcnews.com/tx/austin/dnc-2016-news/2016/07/28/as-dnc-draws-to-a-close--attention-turns-to-party-unity.html" target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2f3zTVS" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">DNC: Time To Pivot</h4>
        <p class="work-section-grid__card-graph">
          Texas Democrats Pivot to November.
        </p>
      </li>
    </ul>
  </a>
</div>

<div class="work-section__grid">

  <a href="http://www.twcnews.com/tx/austin/rnc-2016-news/2016/07/19/texas-lawmakers-stress-importance-of-unity--support-for-trump-at-rnc.html" target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2fl3myn" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">RNC: Party Unity</h4>
        <p class="work-section-grid__card-graph">
          Republican Leaders Back Trump.
        </p>
      </li>
    </ul>
  </a>

  <a href="http://www.twcnews.com/tx/austin/news/2016/07/21/watch--ted-cruz-responds-to-booing-response-at-texas-delegation-breakfast.html" target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2ecEGWg" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">RNC: Cruz Clash</h4>
        <p class="work-section-grid__card-graph">
          Texans Brush Back Cruz Speech.
        </p>
      </li>
    </ul>
  </a>

  <a href="http://www.twcnews.com/tx/austin/rnc-2016-features/2016/07/20/lone-star-state-s-presence-at-rnc-is-large.html" target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2eKmIvf" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">RNC: Texas in Ohio</h4>
        <p class="work-section-grid__card-graph">
          The Texas Delegation Heads to Ohio.
        </p>
      </li>
    </ul>
  </a>
</div>

<div class="work-section__grid">
  <a href="http://www.twcnews.com/tx/austin/news/2016/08/17/craft-beer-battle-brewing-over-distribution-rules.html" target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2fkZQ7u" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">Beer Battle</h4>
        <p class="work-section-grid__card-graph">
          A Texas Brewery Takes on Regulations.
        </p>
      </li>
    </ul>
  </a>

  <a href="http://www.twcnews.com/tx/austin/news/2016/09/15/families-face-lawmakers-over-therapy-rate-cuts.html" target="_blank">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2f3zPWp" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">Therapy Rate Cuts</h4>
        <p class="work-section-grid__card-graph">
          Texas Families fight Medicaid Cuts.
        </p>
      </li>
    </ul>
  </a>

  <a href="http://www.twcnews.com/tx/austin/news/2016/09/13/hazlewood-funding-battle-continues-at-the-capitol.html" target="_blank">
    <ul class="work-section-grid__card bottom-card">
      <li class="work-section-grid__card-li">
        <img src="http://bit.ly/2epqgQr" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">Hazlewood Act</h4>
        <p class="work-section-grid__card-graph">
          Texans Vets & Education.
        </p>
      </li>
    </ul>
  </a>

</div>
<div class="port-nav">
{{#link-to 'work.development'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-laptop" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Web Development</li>
    </ul>
  {{/link-to}}
  {{#link-to 'work.capstone'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Graduate Work</li>
    </ul>
  {{/link-to}}
</div>
