<h3 class="work-section__title"># BROADCAST JOURNALISM <i class="fa fa-television title-icon"></i></h3>{{!-- ANCHORING EXAMPLES   --}}

<div class="creative-grid">
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Anchor Reel</h3>
    <a target="_blank" href="https://www.youtube.com/embed/60AQraAgA1c">
      <img src="reporterDave.jpg" alt="" class="reel-img">
    </a>
  </div>
  <div class="creative-grid__item">

    <p class="work-graph">
      My career in Broadcast Journalism began in the fall of 2013 in West Monroe, Louisiana. Since then, I've worked in Little Rock, Arkansas and Austin, Texas. Along with my compilation reels, you'll find individual examples of my most recent work by clicking the tabs below.
    </p>

  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Reporting Reel</h3>

    <a target="_blank" href="https://www.youtube.com/embed/kn5-dfpAkdo">
      <img src="DavidProfile2016.jpg" alt="" class="reel-img">
    </a>
  </div>
</div>

{{!-- REPORTING EXAMPLES GRID 1  --}}
<div class="creative-grid">
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Registration</h3>
    <a target="_blank" href="http://www.twcnews.com/tx/austin/news/2016/10/11/texans-wait-until-the-last-minute-to-register-to-vote.html">
      <img src="http://bit.ly/2f2yiQD" alt="" class="reel-img">
    </a>
  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">New DFPS Head</h3>
    <a target="_blank" href="http://www.twcnews.com/tx/austin/news/2016/07/12/dfps-commissioner-introduces-plans-to-rebuild-embattled-foster-care-system.html">
      <img src="http://bit.ly/2f3zPWp" alt="" class="reel-img">
    </a>
  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Hazlewood</h3>
    <a target="_blank" href="http://www.twcnews.com/tx/austin/news/2016/09/13/hazlewood-funding-battle-continues-at-the-capitol.html">
      <img src="http://bit.ly/2epqgQr" alt="" class="reel-img">
    </a>
  </div>
</div>
<div class="creative-grid">
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">DNC: Hillary</h3>
    <a target="_blank" href="http://www.twcnews.com/tx/austin/dnc-2016-features/2016/07/28/hillary-clinton-supporters-say-her-historic-nomination-was-worth-the-wait.html">
      <img src="http://bit.ly/2f2sLJY" alt="" class="reel-img">
    </a>
  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">DNC: Bernie</h3>
    <a target="_blank" href="http://www.twcnews.com/tx/austin/dnc-2016-news/2016/07/27/bernie-sanders-supporters-stage-sit-in-protest-at-democratic-national-convention-media-tent.html">
      <img src="http://bit.ly/2e2EwgX" alt="" class="reel-img">
    </a>
  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">DNC: Pivot</h3>
    <a target="_blank" href="http://www.twcnews.com/tx/austin/dnc-2016-news/2016/07/28/as-dnc-draws-to-a-close--attention-turns-to-party-unity.html">
      <img src="http://bit.ly/2f3zTVS" alt="" class="reel-img">
    </a>
  </div>
</div>

<div class="creative-grid">
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">RNC: Diversity</h3>
    <a target="_blank" href="http://www.twcnews.com/tx/austin/rnc-2016-features/2016/07/20/lone-star-state-s-presence-at-rnc-is-large.html">
      <img src="http://bit.ly/2eKmIvf" alt="" class="reel-img">
    </a>
  </div>
<div class="creative-grid">
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">RNC: Cruz</h3>
    <a target="_blank" href="http://www.twcnews.com/tx/austin/news/2016/07/21/watch--ted-cruz-responds-to-booing-response-at-texas-delegation-breakfast.html">
      <img src="http://bit.ly/2ecEGWg" alt="" class="reel-img">
    </a>
  </div>

  <div class="creative-grid__item">
    <h3 class="creative-grid__title">RNC: Unity</h3>
    <a target="_blank" href="http://www.twcnews.com/tx/austin/rnc-2016-news/2016/07/19/texas-lawmakers-stress-importance-of-unity--support-for-trump-at-rnc.html">
      <img src="http://bit.ly/2fl3myn" alt="" class="reel-img">
    </a>
  </div>
</div>
</div>
