
  <h3 id='work-section__grid-title' class="work-section__title"> Masters Degree Work <i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>
  <p class="work-graph">
    From 2013-15, I pursued a Master of Science in Interactive Media from Quinnipiac University's School of Communication. The degree was done online, while I was working full time as a reporter in Louisiana and Arkansas. Below are a few examples of my work
    during that time. For a complete view of that body of coursework, you can visit my Coursework Blog.
  </p>
