
  <h3 id='work-section__grid-title' class="work-section__title"> Masters Degree Work <i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>
  <p class="work-graph">
    From 2013-15, I pursued a Master of Science in Interactive Media from Quinnipiac University's School of Communication. The degree was done online, while I was working full time as a reporter in Louisiana and Arkansas. Below are a few examples of my work
    during that time. For a complete view of that body of coursework, you can visit my Coursework Blog.
  </p>
  <div class="capstone-space">
    <a href="https://oilmusic-eldo.surge.sh" target="_blank">

    <img class="capstone-space__img" src="oilmusic2.jpg" alt="Master's Capstone Project">
    <h4 class="capstone-space__title">Oil & Music El Dorado</h4>
    </a>
    <p class="capstone-space__graph">
      This is a web-based, multi-media project built with Adobe Muse. Oil & Music focuses on my experience working in the South Arkansas town, which is currently undergoing a massive transformation into an Entertainment and Festivals destination. I produced all of the visual, audio, text and web elements to create a 16-page web project for my Masters Capstone.
    </p>
  </div>

  <p class="capstone-space__graph-center">
    Here are three examples of my work as a Graduate Student. During my time a QU, I kept a blog of most of my work. These links will navigate you there.
  </p>
  <div class="graduate-blog">
  <a href="https://cawtoninteractive.wordpress.com" target="_blank">
    <p class="capstone-space__graph-center blog-link">
    Cawton Interactive: Graduate Blog <i class="fa fa-graduation-cap"></i>
    </p>
  </a>
</div>
  <div class="work-section__grid wsd-grid__1">
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="https://goo.gl/P03qhK" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">
          <a href="https://cawtoninteractive.files.wordpress.com/2015/08/strategic20plan20cawton20final.pdf" target="_blank">Strategic Plan</a>
        </h4>
        <p class="work-section-grid__card-graph">
          A strategic plan for the Madison, CT Chamber of Commerce.
        </p>
      </li>
    </ul>
    <ul class="work-section-grid__card">
      <li class="work-section-grid__card-li">
        <img src="https://goo.gl/7idPQ7" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">
          <a href="https://cawtoninteractive.files.wordpress.com/2015/04/final-icm512.pdf" target="_blank">UX Design</a>
        </h4>
        <p class="work-section-grid__card-graph">
          A Usability Report for a News Website.
        </p>
      </li>
    </ul>
    <ul class="work-section-grid__card bottom-card">
      <li class="work-section-grid__card-li">
        <img src="https://goo.gl/2kp2ZR" alt="" class="work-section-grid__card-img">
      </li>
      <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
        <h4 class="work-section-grid__card-title">
          <a href="https://cawtoninteractive.wordpress.com/2015/08/18/creating-a-social-media-strategy/" target="_blank">Social Media Strategy</a>
        </h4>
        <p class="work-section-grid__card-graph">
          An example of a Social Media Strategy for a pet food brand.
        </p>
      </li>
    </ul>
</div>
<div class="port-nav">
  {{#link-to 'work.broadcast'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Broadcasting</li>
    </ul>
{{/link-to}}
  {{#link-to 'work.capstone'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Graduate Work</li>
    </ul>
  {{/link-to}}
  {{#link-to 'work.creative'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-film" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Creative</li>
    </ul>
  {{/link-to}}
</div>
