<h3 id='work-section__grid-title' class="work-section__title"> Creative Projects <i class="fa fa-video-camera" aria-hidden="true"></i></h3>
<p class="work-graph">
  Since my time as an undergraduate at Jacksonville University, I've always worked on various video projects. To be honest, filming, editing and presenting the finished project is probably my favorite thing to do when it comes to creative services. Below are a few examples of video projects. Some were done for non-profits, others were simply done for fun.
</p>
