<h3 id='work-section__grid-title' class="work-section__title"> Creative Projects <i class="fa fa-film" aria-hidden="true"></i></h3>
<p class="work-graph">
  Since my time as an undergraduate at Jacksonville University, I've always worked on various video projects. To be honest, filming, editing and presenting the finished project is probably my favorite thing to do when it comes to creative services. Below
  are a few examples of video projects. Some were done for non-profits, others were simply done for fun.
</p>
<div class="creative-grid">
  <div class="creative-grid__item">
    <iframe class="creative-grid__video"  src="https://www.youtube.com/embed/xiC1qLBsef4?showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h3 class="creative-grid__item-title">Solar's Snow Day</h3>
    <p class="creative-grid__item-graph">
      My dog meets snow for the 1st time.
    </p>
  </div>
  <div class="creative-grid__item">
    <iframe class="creative-grid__video"  src="https://www.youtube.com/embed/l4JYeCktVAM?showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h3 class="creative-grid__item-title">Oil & Music Intro</h3>
    <p class="creative-grid__item-graph">
      The intro video for my {{#link-to 'work.capstone'}}Master's Capstone.{{/link-to}}
    </p>
  </div>
  <div class="creative-grid__item">
    <iframe class="creative-grid__video"  src="https://www.youtube.com/embed/50bVF1yFjqg?list=PLBedxUZkzDbOgdZxq_3lvJVS-Wixk4npM&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h3 class="creative-grid__item-title">Fosters Wanted</h3>
    <p class="creative-grid__item-graph">
      A short documentary produced for Great Rescue of Northeast Florida.
    </p>
  </div>
  <div class="creative-grid__item">
    <iframe class="creative-grid__video" src="https://www.youtube.com/embed/wX2I9SAovVY?list=PLBedxUZkzDbOgdZxq_3lvJVS-Wixk4npM&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h3 class="creative-grid__item-title">Let's Be Great</h3>
    <p class="creative-grid__item-graph">
      A short web video for Great Rescue of Northeast Florida.
    </p>
  </div>
</div>

<div class="port-nav">
  {{#link-to 'work.broadcast'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Broadcasting</li>
    </ul>
  {{/link-to}}

  {{#link-to 'work.capstone'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Graduate Work</li>
    </ul>
  {{/link-to}}
  {{#link-to 'work.development'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-laptop" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Development</li>
    </ul>
  {{/link-to}}
</div>
