<h3 id='work-section__grid-title' class="work-section__title">| CONTENT CREATIVE <i class="fa fa-film" aria-hidden="true"></i> |</h3>
<p class="work-graph">
  Since my time as an undergraduate at Jacksonville University, I've always worked on various video projects. To be honest, filming, editing and presenting the finished project is probably my favorite thing to do when it comes to creative services. Below
  are a few examples of video projects. Some were done for non-profits, others were simply done for fun.
</p>
<div class="creative-grid">
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Solar's Snow Day</h3>
    <iframe class="creative-grid__video"  src="https://www.youtube.com/embed/xiC1qLBsef4?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Oil & Music Intro</h3>
    <iframe class="creative-grid__video"  src="https://www.youtube.com/embed/l4JYeCktVAM?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Fosters Wanted</h3>
    <iframe class="creative-grid__video"  src="https://www.youtube.com/embed/50bVF1yFjqg?list=PLBedxUZkzDbOgdZxq_3lvJVS-Wixk4npM&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Let's Be Great</h3>
    <iframe class="creative-grid__video" src="https://www.youtube.com/embed/wX2I9SAovVY?list=PLBedxUZkzDbOgdZxq_3lvJVS-Wixk4npM&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
