<h3 class="work-section__title"># WEB DEVELOPMENT <i class="fa fa-laptop" aria-hidden="true"></i></h3>
<div class="creative-grid">
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Surf & Paddle</h3>
    <a target="_blank" href="https://davidcawton-surf.surge.sh">
      <img src="http://bit.ly/2f2AO9I" alt="" class="reel-img">
    </a>
  </div>
  <div class="creative-grid__item">
    <p class="work-graph">
      In 2015, I began diving into front end web development. In that time, I've focused on working with Ember.js for most projects, along with basic HTML/CSS. I've published a few examples below. To see more, please visit my <a target="_blank" href="https://github.com/davidcawton">GitHub Repo</a>.
    </p>
  </div>
    <div class="creative-grid__item">
      <h3 class="creative-grid__title">Skate Shop</h3>
      <a target="_blank" href="http://sk8tshop.surge.sh/">
        <img src="http://bit.ly/2f7k2o4" alt="" class="reel-img">
      </a>
    </div>
</div>

<div class="creative-grid">
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Scaling Menu</h3>
    <a target="_blank" href="http://davidcawton-beers.surge.sh/">
      <img src="http://bit.ly/2eKnIiW" alt="" class="reel-img">
    </a>
  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Color Watch</h3>
    <a target="_blank" href="http://color-clock.surge.sh/">
      <img src="http://bit.ly/2f7iISh" alt="" class="reel-img">
    </a>
  </div>
  <div class="creative-grid__item">
    <h3 class="creative-grid__title">Run Tracker</h3>
    <a target="_blank" href="http://dc-runtimer.surge.sh/#">
      <img src="http://bit.ly/2f3BDPj" alt="" class="reel-img">
    </a>
  </div>
</div>
