<h3 id='web-development' class="work-section__title"><i class="fa fa-code" aria-hidden="true"></i> Web Developemnt <i class="fa fa-code" aria-hidden="true"></i></h3>
<div class="work-section__dev-grid wsd-grid__1">
  <ul class="dev-grid__card">
    <li class="dev-grid__card-li">
      <img src="beer.jpg" alt="" class="dev-grid__card-img">
    </li>
    <li class="dev-grid__card-li dev-grid__card-li-bottom">
      <h4 class="dev-grid__card-title">
        <a href="https://davidcawton-surf.surge.sh">Surf & Paddle</a>
        <a href="https://github.com/davidcawton/05-surf-and-paddle/tree/develop"><i class="fa fa-github"></i></a>
      </h4>
      <p class="dev-grid__card-graph">
        A responsive mockup for a surfing blog.
      </p>
    </li>
  </ul>
  <ul class="dev-grid__card">
    <li class="dev-grid__card-li">
      <img src="austin.jpg" alt="" class="dev-grid__card-img">
    </li>
    <li class="dev-grid__card-li dev-grid__card-li-bottom">
      <h4 class="dev-grid__card-title">
        <a href="http://sk8tshop.surge.sh/">Skate Shop</a>
        <a href="https://github.com/davidcawton/09-skate-shop/tree/develop"><i class="fa fa-github"></i></a>
      </h4>
      <p class="dev-grid__card-graph">
        A responsive mockup for Skate brand site.
      </p>
    </li>
  </ul>
  <ul class="dev-grid__card">
    <li class="dev-grid__card-li">
      <img src="jaxbeach.jpg" alt="" class="dev-grid__card-img">
    </li>
    <li class="dev-grid__card-li dev-grid__card-li-bottom">
      <h4 class="dev-grid__card-title">
        <a href="https://davidcawton-surf.surge.sh">Surf & Paddle</a>
        <a href="https://github.com/davidcawton/05-surf-and-paddle/tree/develop"><i class="fa fa-github"></i></a>
      </h4>
      <p class="dev-grid__card-graph">
        A responsive mockup for a surfing blog.
      </p>
    </li>
  </ul>
</div>
<div class="work-section__dev-grid wsd-grid__2">
  <ul class="dev-grid__card">
    <li class="dev-grid__card-li">
      <img src="jaxbeach.jpg" alt="" class="dev-grid__card-img">
    </li>
    <li class="dev-grid__card-li dev-grid__card-li-bottom">
      <h4 class="dev-grid__card-title">
        <a href="https://davidcawton-surf.surge.sh">Surf & Paddle</a>
        <a href="https://github.com/davidcawton/05-surf-and-paddle/tree/develop"><i class="fa fa-github"></i></a>
      </h4>
      <p class="dev-grid__card-graph">
        A responsive mockup for a surfing blog.
      </p>
    </li>
  </ul>
  <ul class="dev-grid__card">
    <li class="dev-grid__card-li">
      <img src="jaxbeach.jpg" alt="" class="dev-grid__card-img">
    </li>
    <li class="dev-grid__card-li dev-grid__card-li-bottom">
      <h4 class="dev-grid__card-title">
        <a href="https://davidcawton-surf.surge.sh">Surf & Paddle</a>
        <a href="https://github.com/davidcawton/05-surf-and-paddle/tree/develop"><i class="fa fa-github"></i></a>
      </h4>
      <p class="dev-grid__card-graph">
        A responsive mockup for a surfing blog.
      </p>
    </li>
  </ul>
  <ul class="dev-grid__card">
    <li class="dev-grid__card-li">
      <img src="jaxbeach.jpg" alt="" class="dev-grid__card-img">
    </li>
    <li class="dev-grid__card-li dev-grid__card-li-bottom">
      <h4 class="dev-grid__card-title">
        <a href="https://davidcawton-surf.surge.sh">Surf & Paddle</a>
        <a href="https://github.com/davidcawton/05-surf-and-paddle/tree/develop"><i class="fa fa-github"></i></a>
      </h4>
      <p class="dev-grid__card-graph">
        A responsive mockup for a surfing blog.
      </p>
    </li>
  </ul>
</div>
