<h3 id='work-section__grid-title' class="work-section__title"> Web Developemnt <i class="fa fa-laptop" aria-hidden="true"></i></h3>
<p class="work-graph">
  In 2015, I took the initiative to learn front-end web development, with a focus on Ember, HTML, & CSS. I've published a few examples below, along with links to my GitHub Repo. I'm still fairly new to web development, and I'm growing my skills on a daily
  basis. I plan to continue to work with Ember to build dynamic web applications that are user friendly and purposeful.
</p>
<div class="work-section__grid wsd-grid__1">
  <ul class="work-section-grid__card">
    <li class="work-section-grid__card-li">
      <img src="http://bit.ly/2f2AO9I" alt="" class="work-section-grid__card-img">
    </li>
    <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
      <h4 class="work-section-grid__card-title">
        <a href="https://davidcawton-surf.surge.sh" target="_blank">Surf & Paddle</a>
        <a href="https://github.com/davidcawton/05-surf-and-paddle/tree/develop" target="_blank"><i class="fa fa-github"></i></a>
      </h4>
      <p class="work-section-grid__card-graph">
        A responsive mockup for a surfing blog.
      </p>
    </li>
  </ul>
  <ul class="work-section-grid__card">
    <li class="work-section-grid__card-li">
      <img src="http://bit.ly/2f7k2o4" alt="" class="work-section-grid__card-img">
    </li>
    <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
      <h4 class="work-section-grid__card-title">
        <a href="http://sk8tshop.surge.sh/" target="_blank">Skate Shop</a>
        <a href="https://github.com/davidcawton/09-skate-shop/tree/develop" target="_blank"><i class="fa fa-github"></i></a>
      </h4>
      <p class="work-section-grid__card-graph">
        A responsive mockup for Skate brand site.
      </p>
    </li>
  </ul>
  <ul class="work-section-grid__card">
    <li class="work-section-grid__card-li">
      <img src="http://bit.ly/2eKnIiW" alt="" class="work-section-grid__card-img">
    </li>
    <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
      <h4 class="work-section-grid__card-title">
        <a href="http://davidcawton-beers.surge.sh/" target="_blank">Beer Menu</a>
        <a href="https://github.com/davidcawton/08-beer-layout" target="_blank"><i class="fa fa-github"></i></a>
      </h4>
      <p class="work-section-grid__card-graph">
        A responsive mockup for restuarant Beer menu.
      </p>
    </li>
  </ul>
</div>
<div class="work-section__grid wsd-grid__2">
  <ul class="work-section-grid__card">
    <li class="work-section-grid__card-li">
      <img src="http://bit.ly/2f7iISh" alt="" class="work-section-grid__card-img">
    </li>
    <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
      <h4 class="work-section-grid__card-title">
        <a href="http://color-clock.surge.sh/" target="_blank">Color Watch</a>
        <a href="https://github.com/davidcawton/11-clock/tree/develop" target="_blank"><i class="fa fa-github"></i></a>
      </h4>
      <p class="work-section-grid__card-graph">
        A time keeper build with jQuery.
      </p>
    </li>
  </ul>
  <ul class="work-section-grid__card">
    <li class="work-section-grid__card-li">
      <img src="http://bit.ly/2f3BDPj" alt="" class="work-section-grid__card-img">
    </li>
    <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
      <h4 class="work-section-grid__card-title">
        <a href="http://dc-runtimer.surge.sh/#" target="_blank">Run Timer Log</a>
        <a href="https://github.com/davidcawton/18-run-timer/tree/develop" target="_blank"><i class="fa fa-github"></i></a>
      </h4>
      <p class="work-section-grid__card-graph">
        A log for tracking runs using Backbone.
      </p>
    </li>
  </ul>
  <ul class="work-section-grid__card bottom-card">
    <li class="work-section-grid__card-li">
      <img src="https://goo.gl/bSrGNq" alt="" class="work-section-grid__card-img">
    </li>
    <li class="work-section-grid__card-li work-section-grid__card-li-bottom">
      <h4 class="work-section-grid__card-title">
        <a href="https://davidcawton-surf.surge.sh" target="_blank">Game Scores</a>
        <a href="https://github.com/davidcawton/Game-Scores" target="_blank"><i class="fa fa-github"></i></a>
      </h4>
      <p class="work-section-grid__card-graph">
        Saving games and Scores using Ember.
      </p>
    </li>
  </ul>
</div>
<div class="port-nav">
  {{#link-to 'work.broadcast'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Broadcasting</li>
    </ul>
{{/link-to}}

  {{#link-to 'work.capstone'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Graduate Work</li>
    </ul>
  {{/link-to}}
  {{#link-to 'work.creative'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-film" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">Creative</li>
    </ul>
  {{/link-to}}
</div>
