<div class="real-top">
{{top-nav}}
  <div class="primary">
    <div class="primary-title__section">
      {{#link-to "index"}}
        <h1 class="title">David Cawton</h1>
      {{/link-to}}
      <div class="sub-title__group">
        <p class="sub-title">Media | Development | Creative</p>
      </div>
      <img class="title-img" src="http://bit.ly/2eKnJmX" alt="David Cawton">
    </div>
    {{outlet}}
  </div>
  {{main-contact}}
  <p class="copyright">Copyright (c) 2016 Copyright David Cawton | All Rights Reserved.</p>
</div>
