<div class="real-top">
  <a href="/"><h2 class="nav-title">David Cawton</h2></a>
  <div class="top-nav">
    <p class="top-nav__p top-nav__p-icon" id="nav-sub__title">
      {{#link-to "work"}}<i class="fa fa-black-tie" aria-hidden="true"></i>{{/link-to}}
      {{#link-to "coffee"}}<i class="fa fa-coffee" aria-hidden="true"></i>{{/link-to}}
      {{#link-to "social"}}<i class="fa fa-hashtag" aria-hidden="true"></i>{{/link-to}}
    </p>
  </div>

<div class="primary">
    {{outlet}}
    <div class="primary-title">
      {{#link-to "index"}}
        <h1 class="title">David Cawton</h1>
      {{/link-to}}
    </div>
  </div>
  <div class="primary-contact__grid">
    <p class="contact"><a href="https://www.google.com"><i class="fa fa-phone contact-icon"></i></a></p>
    <p class="contact"><a href="https://www.google.com"><i class="fa fa-twitter contact-icon"></i></a></p>
    <p class="contact"><a href="https://www.google.com"><i class="fa fa-github contact-icon"></i></a></p>
    <p class="contact"><a href="https://www.google.com"><i class="fa fa-linkedin contact-icon"></i></a></p>
    <p><a href="mailto:dcawton@gmail.com"><i class="fa fa-envelope-o contact-icon"></i></a></p>
  </div>
</div>
