
<div class="main-container">
  <div class="primary">
    {{#link-to "index"}}
      <h1 class="primary-title">DAVID CAWTON</h1>
    {{/link-to}}
    <p class="sub-title">MEDIA | DEVELOPMENT | CREATIVE</p>
  </div>
  {{outlet}}
</div>
{{top-nav}}
<footer>
  <h3 class="footer-title">BUILD BY DAVE</h3>
  <p class="copyright">COPYRIGHT (C) 2016 DAVID CAWTON | ALL RIGHTS RESERVED</p>
</footer>
