<div class="real-top">
  <a href="/"><h2 class="top-title">David Cawton</h2></a>

  <div class="top-nav">
    {{#link-to "index"}}
      <ul class="top-nav__item">
        <li class="top-nav__li-icon"><i class="fa fa-home" aria-hidden="true"></i></li>
        <li class="top-nav__li-title">Home</li>
      </ul>
    {{/link-to}}
    {{#link-to "work"}}
      <ul class="top-nav__item">
        <li class="top-nav__li-icon"><i class="fa fa-black-tie" aria-hidden="true"></i></li>
        <li class="top-nav__li-title">Work</li>
      </ul>
    {{/link-to}}
    {{#link-to "social"}}
      <ul class="top-nav__item">
        <li class="top-nav__li-icon"><i class="fa fa-hashtag" aria-hidden="true"></i></li>
        <li class="top-nav__li-title">Blog</li>
      </ul>
    {{/link-to}}
    {{#link-to "coffee"}}
      <ul class="top-nav__item">
        <li class="top-nav__li-icon"><i class="fa fa-coffee" aria-hidden="true"></i></li>
        <li class="top-nav__li-title">Connect</li>
      </ul>
    {{/link-to}}

  </div>

  <div class="primary">
    {{outlet}}
    <div class="primary-title__section">
      {{#link-to "index"}}
        <h1 class="title">David Cawton</h1>
      {{/link-to}}
      <img class="title-img" src="david.jpg" alt="David Cawton">
    </div>
  </div>
  <div class="primary-contact__grid">
    <p class="contact"><a href="https://www.google.com"><i class="fa fa-phone contact-icon"></i></a></p>
    <p class="contact"><a href="https://www.google.com"><i class="fa fa-twitter contact-icon"></i></a></p>
    <p class="contact"><a href="https://www.google.com"><i class="fa fa-github contact-icon"></i></a></p>
    <p class="contact"><a href="https://www.google.com"><i class="fa fa-linkedin contact-icon"></i></a></p>
    <p><a href="mailto:dcawton@gmail.com"><i class="fa fa-envelope-o contact-icon"></i></a></p>
  </div>
</div>
