<div class="real-top">
  <h2 class="subtitle">Web Developer</h2>
  <div class="nav">
    <p class="top-p top-p_icon" id="sub-sub-title">
      {{#link-to "work"}}<i class="fa fa-black-tie" aria-hidden="true"></i>{{/link-to}}
      {{#link-to "coffee"}}<i class="fa fa-coffee" aria-hidden="true"></i>{{/link-to}}
      {{#link-to "social"}}<i class="fa fa-hashtag" aria-hidden="true"></i>{{/link-to}}
    </p>
  </div>

<div class="top">
    {{outlet}}
    <div class="top-title">
      {{#link-to "index"}}
        <h1 class="title">David Cawton</h1>
      {{/link-to}}
    </div>
  </div>
</div>
