<div class="top">
  {{!-- <div class="top-nav">
    <ul class="top-nav_ul">
      <li class="top-nav_li">DNH</li>
      <li class="top-nav_li">DNH</li>
      <li class="top-nav_li">DNH</li>
    </ul>
  </div> --}}
  <div class="top-cover">
    <h2 class="top-h2" id="title">Daves</h2>
    <h2 class="top-h2" id="sub-title">Not</h2>
    <h2 class="top-h2" id="sub-sub-title">Here</h2>
  </div>
</div>



{{outlet}}
