<div class="work">
  <h2 class="page-titles">Connect</h2>
  <p class="contact-graph">
    Let's connect and talk more about future opportunities.
  </p>
  <div class="primary-contact__grid">
    <p class="contact"><a href=tel:9044856991 target="_blank"><i class="fa fa-phone contact-icon"></i></a></p>
    <p class="contact"><a href="https://twitter.com/DavidCawton" target="_blank"><i class="fa fa-twitter contact-icon"></i></a></p>
    <p class="contact"><a href="https://github.com/davidcawton" target="_blank"><i class="fa fa-github contact-icon"></i></a></p>
    <p class="contact"><a href="https://www.linkedin.com/in/david-cawton-ii-a6129b54
" target="_blank"><i class="fa fa-linkedin contact-icon"></i></a></p>
    <p><a href="mailto:dcawton@gmail.com" target="_blank"><i class="fa fa-envelope-o contact-icon"></i></a></p>
  </div>
</div>
