<div>
 <div class="work">
   <h2 class="top-h2 top-h2_down" id="coffee">Connect</h2>
   <div class="coffee">
     <p class="coffee-graph">
       <i class="fa fa-phone"></i>
       904.485.6991
     </p>
     <p class="coffee-graph">
       <a href="mailto:dcawton@gmail.com">
          <i class="fa fa-envelope-o"></i>
         dcawton@gmail.com
       </a>
     </p>
   </div>
 </div>
</div>
