<div class="work work-contact">
  <h2 class="page-titles">Contact Me</h2>
  <p class="contact-graph">
    Thanks for checking out my work. If you've made it this far, I'm sure you've got a few more questions. If you'd like to talk about future oportunities, my work or anything else, just click the links below and we can grab a cup of coffee sometime.
  </p>
  <div class="primary-contact__grid">
    <div class="contact">
      <p>
        <a href=tel:9044856991 target="_blank">
          <i class="fa fa-phone contact-icon"></i>
        </a>
      </p>
      <p class="contact-hide">Call</p>
    </div>
    <div class="contact">
      <p>
        <a href="mailto:dcawton@gmail.com" target="_blank">
          <i class="fa fa-envelope-o contact-icon"></i>
        </a>
      </p>
      <p class="contact-hide">Email</p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/davidcawton" target="_blank">
          <i class="fa fa-github contact-icon"></i>
        </a>
      </p>
      <p class="contact-hide">Git Repo</p>
    </div>
    <div class="contact">
      <p>
        <a href="https://www.linkedin.com/in/david-cawton-ii-a6129b54
  " target="_blank">
          <i class="fa fa-linkedin contact-icon"></i>
        </a>
      </p>
      <p class="contact-hide">LinkedIn</p>
    </div>
  </div>

</div>
