<div class="work">
  <h2 class="page-titles">About Me</h2>
  <p class="contact-graph">
    Now that you've had a chance to check out my work, you've probably realized that I haven't told you about my life outside of work.
  </p>
  <p class="contact-graph">
    (If you want to skip to grabbing a cup of coffee, I can be contacted through phone or email. Just click the links)
  </p>

  <div class="primary-contact__grid">
    <div class="contact">
      <p>
        <a href=tel:9044856991 target="_blank">
          <i class="fa fa-phone contact-icon"></i>
        </a>
      </p>
      <p class="contact-hide">Call</p>
    </div>
    <div class="contact">
      <p>
        <a href="mailto:dcawton@gmail.com" target="_blank">
          <i class="fa fa-envelope-o contact-icon"></i>
        </a>
      </p>
      <p class="contact-hide">Email</p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/davidcawton" target="_blank">
          <i class="fa fa-github contact-icon"></i>
        </a>
      </p>
      <p class="contact-hide">Git Repo</p>
    </div>
    <div class="contact">
      <p>
        <a href="https://www.linkedin.com/in/david-cawton-ii-a6129b54
  " target="_blank">
          <i class="fa fa-linkedin contact-icon"></i>
        </a>
      </p>
      <p class="contact-hide">LinkedIn</p>
    </div>
  </div>


  <h3 class="contact-title">Beach Life<i class="fa fa-user contact-i"></i></h3>

  <p class="contact-graph">
    I was fortunate enough to grow up a few blocks from the Atlantic Ocean, in <a href="https://www.google.com/maps/place/Jacksonville+Beach,+FL/@30.2800094,-81.4223671,14z/data=!3m1!4b1!4m5!3m4!1s0x88e448e28901c491:0xdc19850db5b8fc15!8m2!3d30.2841224!4d-81.3961338"
        target="_blank">Jacksonville Beach, Florida.</a> For the longest time, life consisted of surfing, riding beach cruisers, and <a href="http://sundelisubs.com/" target="_blank">Sun Deli subs.</a> There was probably some homework in between.
  </p>
  <p class="contact-graph">
    I graduated from Fletcher High School in 2007. After high school I wasn't sure what I wanted to do. I knew I didn't want to go to a big state school, and I knew I didn't want to skip college altogether. So like most undecided teens, I settled for Community
    College. That turned out to be one of the best decisions I've ever made. Florida State College at Jacksonville and the professors I met helped me figure out my path. By the time I finished my 2-year stint, I found myself looking at broadcasting programs.
  </p>
  <h3 class="contact-title">Jacksonville University<i class="fa fa-pencil-square contact-i" aria-hidden="true"></i></h3>

  <p class="contact-graph">
    I found that <a href="http://www.ju.edu/communication/Pages/default.aspx" target="_blank">Jacksonville University</a> was the perfect place for me.
  </p>
  <p class="contact-graph">
    During my time at JU, I gravitated towards the <a href="http://judolphins.com/landing/index" target="_blank">Athletics Department.</a> I applied as a video producer for what was 'Asun TV'. Each school in the conference had to video stream all athletic
    events, from soccer to baseball. It was a crash course in event production to say the least. In all three seasons with the JU Dolphins, I helped produced more than 100 live athletic events each year. I played producer, director, camera man, play-by-play
    guy, and became a master production van cleaner.
  </p>
  <p class="contact-graph">
    I'd say the highlight was Football season. As a Junior and Senior, I directed and helped coordinate all of our home football games for live broadcast on the local CW affiliate in Jacksonville. I've never been so humbled in my life!
  </p>
  <p class="contact-graph">
    My friends at the Athletic department got me in touch with the <a href="http://www.jaguars.com/" target="_blank">Jacksonville Jaguars</a> production team, who were looking for game-day staff for home games. During the 2011 and 2012 seasons I wasn't
    in the stands, but behind the scenes, assisting with the production of live NFL games! I still can't believe it. I learned the importance of time management, working with a team and keeping calm under pressure. It's an experience I'll never forget.
  </p>
  <p class="contact-graph">
    When my senior year came around, I saw that I needed some general news experience and accepted an internship with <a href="http://www.actionnewsjax.com/" target="_blank">Action News Jacksonville</a>, the local CBS and Fox affiliates. I split time
    with sports and news to learn the business. It helped me craft a reel, as well as how to approach potential employers.
  </p>
  <h3 class="contact-title">Doing The News <i class="fa fa-television contact-i" aria-hidden="true"></i>
</h3>

  <p class="contact-graph">
    After graduation, I landed my first job at <a href="http://www.myarklamiss.com/" target="_blank">KTVE/KARD</a> in Monroe, Louisiana as the South Arkansas Bureau Reporter. For 8 months, I hustled on my own, an hour away from the main station to cultivate
    stories, relationships and content for our nightly shows. My news director rewarded that drive with a promotion to Weekend Anchor / Producer. Some time later, another opportunity presented itself and I was promoted again. This time as Morning Anchor
    and Producer.
  </p>
  <p class="contact-graph">
    About 6-months into my new career, I found that I was missing something. I liked news, but I didn't love it. I needed something more. So I decided to pursue a Masters Degree in Interactive Media at <a href="https://www.qu.edu/" target="_blank">Quinnipiac University.</a>    While working full-time during the day, I studied and took classes online at night. You can read more about the <a href="https://quonline.quinnipiac.edu/online-programs/online-graduate-programs/ms-in-interactive-media/" target="_blank">I-Media Program here.</a>
  </p>
  <p class="contact-graph">
    When my contract at KTVE was coming close to ending, I found myself at the doorstep of KARK in Little Rock, one of our sister stations. I made the move, accepted the offer and landed at the Arkansas Capitol. By this time, my I-Media courses were getting
    really heavy, as the program shifted to my Capstone project. I found that I had bitten off a little more than I could chew. I left KARK and focused full time on my education - a move I wouldn't second guess.
  </p>
  <p class="contact-graph">
    While finishing my MS, I decided to jump into Front-End Web Development with a focus on <a href="http://emberjs.com/" target="_blank">Ember.</a> A Year later, and I'm still learning!
  </p>
  <p class="contact-graph">
    In March 2016, I took a job as a Political Reporter for <a href="http://www.twcnews.com/tx/austin.html" target="_blank">Spectrum News</a> and the nightly show, Capital Tonight. For most of the year I covered the presidential election, state politics
    and learned the ins and outs of the state legislature. I traveled to the
    {{#link-to 'work.broadcast'}}DNC & RNC, state political conventions and various rallies in Texas.{{/link-to}} It was fun, but in the end, the position wasn't what I was looking for. The position needed someone with more familiarity with Texas. Both sides agreed that I had bigger
    things ahead and we parted ways. I gained a lot of new friends, a lot of insight into state politics and some amazing experiences.
  </p>
  <h3 class="contact-title">Moving Ahead <i class="fa fa-arrow-right contact-i" aria-hidden="true"></i>
</h3>

  <p class="contact-graph">
    After 3-years in broadcast news, I've decided that it's just not for me. Now, I'm focused on finding a role with a company in a creative capacity. I want to harness the skills from my Graduate coursework, my experience in broadcasting and everything else
    I've done to help my next employer find success. I'd love to work in a creative or digital agency, or even a larger company to accomplish those goals.
  </p>
  <p class="contact-graph">
    If you've made it this far, then hopefully you've got a few more questions. Let's grab some coffee - in person or on a Hangout - and talk.
  </p>
  <div class="primary-contact__grid">
    <div class="contact">
      <p>
        <a href=tel:9044856991 target="_blank">
          <i class="fa fa-phone contact-icon"></i>
        </a>
      </p>
      <p class="contact">Call</p>
    </div>
    <div class="contact">
      <p>
        <a href="mailto:dcawton@gmail.com" target="_blank">
          <i class="fa fa-envelope-o contact-icon"></i>
        </a>
      </p>
      <p class="contact">Email</p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/davidcawton" target="_blank">
          <i class="fa fa-github contact-icon"></i>
        </a>
      </p>
      <p class="contact">Git Repo</p>
    </div>
    <div class="contact">
      <p>
        <a href="https://www.linkedin.com/in/david-cawton-ii-a6129b54
" target="_blank">
          <i class="fa fa-linkedin contact-icon"></i>
        </a>
      </p>
      <p class="contact">LinkedIn</p>
    </div>
  </div>
</div>
