<div class="work">
  <div class="page-titles">Resume</div>
  <div class="resume">
    <h2 class="resume-group__title">Work Experience</h2>
  {{!--SPECTRUM NEWS  --}}
    <div class="resume-item">
      <ul class="resume-item__heading">
        <li class="resume-item__title resume-date">2016</li>
        <li class="resume-item__title">Reporter | Anchor</li>
        <li class="resume-item__title">Spectrum News </li>
      </ul>
      <div class="resume-item__center">
        <p class="resume-item__body">
          I covered the state and national politics beat for, Capital Tonight on Spectrum news. On a daily basis, my role included journalist, writer, videographer, editor and on-air personality. I covered the Texas connection to the 2016 presidential election and traveled to national political conventions. Every day I delivered enterprised, informative, accurate and developing content as needed for multiple media platforms in a high-pressure newsroom.
        </p>
      </div>
    </div>
    {{!-- NEXSTAR --}}
    <div class="resume-item">
      <ul class="resume-item__heading">
        <li class="resume-item__title resume-date">2013-15</li>
        <li class="resume-item__title">Anchor | Reporter</li>
        <li class="resume-item__title">KTVE / KARD News </li>
      </ul>
      <div class="resume-item__center">
        <p class="resume-item__body">
          I produced and co-anchored a 3-hour morning news program for the local NBC / FOX affiliate. As a producer, I stacked shows with local, state and national stories, developing breaking news, live guest, cooking segments, and weather. As an on-air talent, I hosted and anchored broadcasts, making adjustments as news stories broke.
        </p>
      </div>
    </div>
    {{!--AAA --}}
    <div class="resume-item">
      <ul class="resume-item__heading">
        <li class="resume-item__title resume-date">2011-13</li>
        <li class="resume-item__title">Member Services</li>
        <li class="resume-item__title">AAA South </li>
      </ul>
      <div class="resume-item__center">
        <p class="resume-item__body">
          This was a part-time position during my time as an undergraduate in college. I assisted members with membership services, assisted the travel department in various roles, and worked to promote on-site office events.
        </p>
      </div>
    </div>
    {{!--JAGS --}}
    <div class="resume-item">
      <ul class="resume-item__heading">
        <li class="resume-item__title resume-date">2011-12</li>
        <li class="resume-item__title">Game Day Staff</li>
        <li class="resume-item__title">Jacksonville Jaguars</li>
      </ul>
      <div class="resume-item__center">
        <p class="resume-item__body">
          During my Junior and Senior years at Jacksonville University, I accepted an opportunity from the Jacksonville Jaguars to assist with in-stadium game day event production. Although my role was essentially small, the experience was well worth it. I learned the importance of to-the-minute time management in high-pressure situations.
        </p>
      </div>
    </div>
    {{!--JU --}}
    <div class="resume-item">
      <ul class="resume-item__heading">
        <li class="resume-item__title resume-date">2011-12</li>
        <li class="resume-item__title">Producer / Intern</li>
        <li class="resume-item__title">Jacksonville University</li>
      </ul>
      <div class="resume-item__center">
        <p class="resume-item__body">
          During my Junior and Senior years at Jacksonville University, I also worked as a student producer and intern for the JU Dolphins. I helped manage a student broadcast team, charged with the production of 100+ home athletic events for web stream and live television.
        </p>
      </div>
    </div>

    <h2 class="resume-group__title">Additional Skills</h2>
    {{!--FE/WD --}}
    <div class="resume-item">
      <ul class="resume-item__heading">
        <li class="resume-item__title">Front End Web Development</li>
      </ul>
      <div class="resume-item__center">
        <p class="resume-item__body">
          Knowledge of front end web development technologies and libraries, including HTML, CSS, Javascript, Sass, Ember.js, Node.js & jQuery. Focus on building user-friendly websites and applications. I built this portfolio using those technologies.
        </p>
      </div>
    </div>
    {{!--IT SECURITY --}}
    <div class="resume-item">
      <ul class="resume-item__heading">
        <li class="resume-item__title">IT Security</li>
      </ul>
      <div class="resume-item__center">
        <p class="resume-item__body">
          Understanding of network, security and data technology concepts. Familiarity with IBM BigFix infrastructure, including maintenance, updates, performance and connectivity issue resolution, creation & maintenance of Fixlets, Actions, Tasks, and Baselines.
        </p>
      </div>
    </div>
    {{!--CONTENT CREATION --}}
    <div class="resume-item">
      <ul class="resume-item__heading">
        <li class="resume-item__title">Digial Media </li>
      </ul>
      <div class="resume-item__center">
        <p class="resume-item__body">
          Experience with multi-platform content creation. Hands on experience with video, audio and web development tools to produce media for commercial use. Working knowledge of Adobe Creative Tools including Premiere and Photoshop, Final Cut X, and Avid. Sound videographer and linear story teller.
        </p>
      </div>
    </div>

    <h2 class="resume-group__title">Education</h2>
  {{!--QU --}}
    <div class="resume-item">
      <ul class="resume-item__heading">
        <li class="resume-item__title resume-date">2013-15</li>
        <li class="resume-item__title">MS Interactive Media</li>
        <li class="resume-item__title">Quinnipiac University</li>
      </ul>
      <div class="resume-item__center">
        <p class="resume-item__body">
          Focus on digital media strategy, multi-platform content creation, UX design, social media strategy and analytics, strategic planning, and web development.
        </p>
      </div>
    </div>
    {{!-- JU --}}
    <div class="resume-item">
      <ul class="resume-item__heading">
        <li class="resume-item__title resume-date">2010-13</li>
        <li class="resume-item__title">BA Communications</li>
        <li class="resume-item__title">Jacksonville University</li>
      </ul>
      <div class="resume-item__center">
        <p class="resume-item__body">
          Focus on Broadcast Communications, journalism, marketing, creative writing, and communication strategy.
        </p>
      </div>
    </div>
    <h2 class="resume-group__title">ASSETS</h2>
  {{!--ASSETS --}}
    <div class="resume-item">
      <div class="resume-item__center">
        <p class="resume-item__body assets-graph">
        Thrives in high-pressure environments. Proficient in time management, planning, project management, communication, and decision-making. Excels in both technical and non-technical situations. Extremely teachable and willing to learn new skills and technologies as needed. Professional media training and content creation skills. Proven track record of leadership. Willingness to mentor and contribute to my coworkers’ success and growth.
        </p>
      </div>
    </div>
  </div>
</div>
