<div class="work">
<h3 class="work-section__title"># EXPERIENCE <i class="fa fa-briefcase resume-i" aria-hidden="true"></i></h3>
<div class="resume-grid">
  <div class="resume-grid__item">
    <h3 id="year" class="resume-grid__title">2017</h3>
    <p class="resume-grid__title">PR Associate</p>
    <p id="middle" class="resume-grid__title">Firehouse Subs</p>
    <p class="resume-grid__title">Jacksonville</p>
  </div>
  <div class="resume-grid__item">
    <h3 id="year" class="resume-grid__title">2016</h3>
    <p class="resume-grid__title">Reporter / Anchor</p>
    <p id="middle" class="resume-grid__title">Spectrum News</p>
    <p class="resume-grid__title">Austin</p>
  </div>
  <div class="resume-grid__item">
    <h3 id="year" class="resume-grid__title">2013-15</h3>
    <p class="resume-grid__title">Reporter / Anchor</p>
    <p id="middle" class="resume-grid__title">Nexstar Broadcasting</p>
    <p class="resume-grid__title">West Monroe - Little Rock</p>
  </div>
</div>
<h3 id="education" class="work-section__title"># EDUCATION <i class="fa fa-graduation-cap resume-i" aria-hidden="true"></i></h3>
<div class="resume-grid">
  <div class="resume-grid__item">
    <h3 id="year" class="resume-grid__title">2016</h3>
    <p class="resume-grid__title">Master of Science</p>
    <p id="middle" class="resume-grid__title">Interactive Media</p>
    <p class="resume-grid__title">Quinnipiac University</p>
  </div>
  <div class="resume-grid__item">
    <h3 id="year" class="resume-grid__title">2015</h3>
    <p class="resume-grid__title">Web Development</p>
    <p id="middle" class="resume-grid__title">The Iron Yard</p>
    <p class="resume-grid__title">Little Rock</p>
  </div>
  <div class="resume-grid__item">
    <h3 id="year" class="resume-grid__title">2013</h3>
    <p class="resume-grid__title">Bachelor of Arts</p>
    <p id="middle" class="resume-grid__title">Communications</p>
    <p class="resume-grid__title">Jacksonville University</p>
  </div>

</div>
</div>
