<div class="work">
  <h2 class="page-titles">David Cawton</h2>
  {{!--EXPERIENCE  --}}
  <h4 class="table-title">Experience</h4>

<table class="resume">
  <thead class="resume-head">
    <tr class="resume-head-row">
      <th class="resume-row__li resume-row__title">Spectrum News</th>
      <th class="resume-row__li resume-row__company">Political Reporter / Fill-in Anchor</th>
      <th class="resume-row__li resume-row__year">2017</th>
    </tr>
  </thead>
  <tbody class="resume-body">
    <tr>
      <th class="resume-body__blank"></th>
      <th class="resume-body">Covered state and national politics for Capital Tonight, a weeknight show focused on Texas. As a reporter I’ve covered both the Democratic & Republican National Conventions, statewide conventions and various politicians in different cities.
      </th>
      <th class="resume-body__blank"></th>
    </tr>
  </tbody>
</table>
<table class="resume">
  <thead class="resume-head">
    <tr class="resume-head-row">
      <th class="resume-row__li resume-row__title">Nexstar Broadcasting</th>
      <th class="resume-row__li resume-row__company"> Anchor / Reporter</th>
      <th class="resume-row__li resume-row__year">2013-2015</th>
    </tr>
  </thead>
  <tbody class="resume-body">
    <tr>
      <th class="resume-body__blank"></th>
      <th class="resume-body">
        I produced and co-anchored a 3-hour morning news program for the local NBC / FOX affiliate. Other duties included covering economics, politics & tech. I started as a bureau reporter, then weekend anchor and finally landed on the morning show.
      </th>
      <th class="resume-body__blank"></th>
    </tr>
  </tbody>
</table>
<table class="resume">
  <thead class="resume-head">
    <tr class="resume-head-row">
      <th class="resume-row__li resume-row__title">AAA Auto Club South</th>
      <th class="resume-row__li resume-row__company">Member Services</th>
      <th class="resume-row__li resume-row__year">2011-2013</th>
    </tr>
  </thead>
  <tbody class="resume-body">
    <tr>
      <th class="resume-body__blank"></th>
      <th class="resume-body">
        Worked in Club Services and Travel departments to provide AAA members with a variety of services offered in Jacksonville-area offices. Assisted with off-site events. Worked as one of North Florida’s media representatives, handling media requests.
      </th>
      <th class="resume-body__blank"></th>
    </tr>
  </tbody>
</table>
<table class="resume">
  <thead class="resume-head">
    <tr class="resume-head-row">
      <th class="resume-row__li resume-row__title">Action News Jax</th>
      <th class="resume-row__li resume-row__company">CBS47/FOX30 Intern</th>
      <th class="resume-row__li resume-row__year">2012</th>
    </tr>
  </thead>
  <tbody class="resume-body">
    <tr>
      <th class="resume-body__blank"></th>
      <th class="resume-body">
        Shadowed news and sports reporters to learn the business of news gathering. Helped on the assignments desk, and news production.
      </th>
      <th class="resume-body__blank"></th>
    </tr>
  </tbody>
</table>
<table class="resume">
  <thead class="resume-head">
    <tr class="resume-head-row">
      <th class="resume-row__li resume-row__title">JU Dolphins</th>
      <th class="resume-row__li resume-row__company">Athletics Department Intern</th>
      <th class="resume-row__li resume-row__year">2012-2013</th>
    </tr>
  </thead>
  <tbody class="resume-body">
    <tr>
      <th class="resume-body__blank"></th>
      <th class="resume-body">
        Headed a student media team to produce, record and live-stream various home athletic events from soccer to football. Provided some play-by-play duties, media inquiries and trained student staff.
      </th>
      <th class="resume-body__blank"></th>
    </tr>
  </tbody>
</table>
<table class="resume">
  <thead class="resume-head">
    <tr class="resume-head-row">
      <th class="resume-row__li resume-row__title">Jacksonville Jaguars</th>
      <th class="resume-row__li resume-row__company">Game Day Staff</th>
      <th class="resume-row__li resume-row__year">2012-2013</th>
    </tr>
  </thead>
  <tbody class="resume-body">
    <tr>
      <th class="resume-body__blank"></th>
      <th class="resume-body">
        Assisted with the entire game day production of preseason and regular season NFL home games in various roles. Worked with in-house Jaguars team to learn event production.
      </th>
      <th class="resume-body__blank"></th>
    </tr>
  </tbody>
</table>

{{!-- Education --}}

<h4 class="table-title">Education</h4>

<table class="resume">
<thead class="resume-head">
  <tr class="resume-head-row">
    <th class="resume-row__li resume-row__title">Quinnipiac University</th>
    <th class="resume-row__li resume-row__company">MS in Interactive Media</th>
    <th class="resume-row__li resume-row__year">C/O 2016</th>
  </tr>
</thead>
<tbody class="resume-body">
  <tr>
    <th class="resume-body__blank"></th>
    <th class="resume-body">
      Focus on digital media strategy, multi-platform content creation, UX design, social media strategy and analytics, strategic planning, and brand journalism.
    </th>
    <th class="resume-body__blank"></th>
  </tr>
</tbody>
</table>
<table class="resume">
<thead class="resume-head">
  <tr class="resume-head-row">
    <th class="resume-row__li resume-row__title">Jacksonville University</th>
    <th class="resume-row__li resume-row__company">BA Broadcast Communications</th>
    <th class="resume-row__li resume-row__year">C/O 2013</th>
  </tr>
</thead>
<tbody class="resume-body">
  <tr>
    <th class="resume-body__blank"></th>
    <th class="resume-body">
    Focus on Broadcast Communications, journalism and communication strategy. Was part of the JU News and Radio stations. Won 1st runner up in the AP Student Broadcast Awards.
    </th>
    <th class="resume-body__blank"></th>
  </tr>
</tbody>
</table>
<table class="resume">
<thead class="resume-head">
  <tr class="resume-head-row">
    <th class="resume-row__li resume-row__title">Web Development</th>
    <th class="resume-row__li resume-row__company">Courses on HTML, CSS & Javascript</th>
    <th class="resume-row__li resume-row__year">2015-2016</th>
  </tr>
</thead>
<tbody class="resume-body">
  <tr>
    <th class="resume-body__blank"></th>
    <th class="resume-body">
      In 2015, I took the initiative to learn Front-End web development technologies, with a focus on Ember Js, HTLM, and CSS. I gained experience with version control, Sass, jQuery and other Javascript libraries. I believe that the ability to create dynamic and responsive web applications will only further my knowledge of content creation for multiple platforms.
    </th>
    <th class="resume-body__blank"></th>
  </tr>
</tbody>
</table>

  {{!-- Assets  --}}
  <h4 class="table-title assets-title">Assets</h4>
  <p class="assets-graph">
    Professional media training, skilled in public relations, marketing, strategic planning, social & new media integration. Ability to create multi-media content for various social media and traditional media channels. Strong written and verbal skills, creative
    mind, great sense of humor, ambitious, driven, passionate and most importantly, extremely teachable.
  </p>
  <p class="assets-graph references">References available upon request</p>

</div>
