<div class="work">
  <h3 class="resume-title">Work Resume</h3>
  <div class="resume">
    <ul class="resume-item">
      <li class="resume-item__li">
        <p class="resume-item__p resume-item__title">Spectrum News</p>
      </li>
      <li class="resume-item__li">
        <p class="resume-item__p resume-item__sub-title">Political Reporter</p>
      </li>
      <li class="resume-item__li">
        <p class="resume-item__p resume-item__date">2016</p>
      </li>
      <li class="resume-item__li">
        <p class="resume-item__p resume-item__description">
          Covered the Texas and National Politics beat for Capital Tonight, including the 2016 presidential election. Travled to the DNC/RNC and covered state political parties and state agencies.
        </p>
      </li>
      <li class="resume-item__li">
        <p class="resume-item__p resume-item__sub-description">Reporter Facebook</p>
      </li>
    </ul>
  </div>

</div>
