<div class="work">
  <h2 class="resume-heading">David Cawton</h2>
  <h3 class="sub-title">Media Professional</h3>{{!--EXPERIENCE  --}}
  <ul class="resume-list">
    <h3 class="resume-title">Experience</h3>
    <li class="resume-li resume-top__li">
      <span class="resume-position">Political Reporter / Fill-in Anchor</span>
      <span class="resume-company">Spectrum News</span>
      <span class="resume-year">2016</span>
    </li>
    <li class="resume-description resume-li">
      Covered state and national politics for Capital Tonight, a weeknight show focused on Texas. As a reporter I’ve covered both the Democratic & Republican National Conventions, statewide conventions and various politicians in different cities.
    </li>
  </ul>
  <ul class="resume-list">
    <li class="resume-li resume-top__li">
      <span class="resume-position">Morning Anchor / Reporter</span>
      <span class="resume-company">KTVE-10 / KARD-14</span>
      <span class="resume-year">2013-2015</span>
    </li>
    <li class="resume-description resume-li">
      I produced and co-anchored a 3-hour morning news program for the local NBC / FOX affiliate. Other duties included covering economics, politics & tech. I started as a bureau reporter, then weekend anchor and finally landed on the morning show.
    </li>
  </ul>
  <ul class="resume-list">
    <li class="resume-li resume-top__li">
      <span class="resume-position">Member Services</span>
      <span class="resume-company">AAA Auto Club South</span>
      <span class="resume-year">2011-2013</span>
    </li>
    <li class="resume-description resume-li">
      Worked in Club Services and Travel departments to provide AAA members with a variety of services offered in Jacksonville-area offices. Assisted with off-site events. Worked as one of North Florida’s media representatives, handling media requests.
    </li>
  </ul>
  <ul class="resume-list">
    <li class="resume-li resume-top__li">
      <span class="resume-position">Intern</span>
      <span class="resume-company">Action News Jacksonville (CBS47/FOX30)</span>
      <span class="resume-year">2012 School Year</span>
    </li>
    <li class="resume-description resume-li">
      Shadowed news and sports reporters to learn the business of news gathering. Helped on the assignments desk, and news production.
    </li>
  </ul>
  <ul class="resume-list">
    <li class="resume-li resume-top__li">
      <span class="resume-position">Intern</span>
      <span class="resume-company">JU Dolphins Athletics</span>
      <span class="resume-year">2012 & 2013 School Years</span>
    </li>
    <li class="resume-description resume-li">
      Headed a student media team to produce, record and live-stream various home athletic events from soccer to football. Provided some play-by-play duties, media inquiries and trained student staff.
    </li>
  </ul>
  <ul class="resume-list">
    <li class="resume-li resume-top__li">
      <span class="resume-position">Game Day Staff</span>
      <span class="resume-company">Jacksonville Jaguars</span>
      <span class="resume-year">2012 & 2012 NFL Seasons</span>
    </li>
    <li class="resume-description resume-li">
      Assisted with in-stadium event production and experience in various roles.
    </li>
  </ul>

  {{!-- EDUCATION --}}
  <ul class="resume-list">
    <h3 class="resume-title">Education</h3>
    <li class="resume-li resume-top__li">
      <span class="resume-position">MS Interactive Media</span>
      <span class="resume-company">Quinnipiac University </span>
      <span class="resume-year">C/O 2016</span>
    </li>
    <li class="resume-description resume-li">
      Focus on digital media strategy, multi-platform content creation, UX design, social media strategy and analytics, strategic planning, and brand journalism.
    </li>
  </ul>
  <ul class="resume-list">
    <li class="resume-li resume-top__li">
      <span class="resume-position">BA Broadcast Communications</span>
      <span class="resume-company">Jacksonville University</span>
      <span class="resume-year">C/O 2013</span>
    </li>
    <li class="resume-description resume-li">
      Focus on Broadcast Communications, journalism and communication strategy.
    </li>
  </ul>

  {{!-- Assets  --}}

  <ul class="resume-list">
    <h3 class="resume-title">Assets</h3>
    <li class="resume-description resume-li">
      Professional media training, skilled in public relations, marketing, strategic planning, social & new media integration. Ability to create multi-media content for various social media and traditional media channels. Strong written and verbal skills, creative
      mind, great sense of humor, ambitious, driven, passionate and most importantly, extremely teachable.
    </li>
    <li class="resume-li resume-references">References available upon request </li>
  </ul>
</div>
