<div class="work">
  <h2 class="page-titles">
    PORTFOLIO
  </h2>

  <div class="port-nav">

    {{#link-to 'work.broadcast'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-television" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">BROADCAST</li>

      </ul>
  {{/link-to}}
  {{#link-to 'work.capstone'}}
    <ul class="port-nav__item">
      <li class="port-nav__li-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></li>
      <li class="port-nav__li-title">WRITTEN</li>
    </ul>
  {{/link-to}}

  {{#link-to 'work.development'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-laptop" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">DEVELOPMENT</li>
      </ul>
    {{/link-to}}

    {{#link-to 'work.creative'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-film" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">CREATIVE</li>
      </ul>
    {{/link-to}}
  </div>
  {{outlet}}
  {{!--Broadcasting Section  --}}
  {{!--Web Development Section --}}
  {{!--Masters Degree Section  --}}
</div>
