<div class="work">
  <h2 class="page-titles">
    Porfolio
  </h2>

  <p class="work-graph">
    Below is a mixture of some of my work as a Broadcast Journalist, my web development projects, and the content I’ve produced through my Graduate Courses. If you’d like more information on my work and education history, please visit the {{#link-to 'social'}}Resume{{/link-to}} section.
  </p>
  <p class="work-graph work-graph_center">Click the Icons below to navigate each topic.</p>

  <div class="port-nav">
    {{#link-to 'work.broadcast'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">Broadcasting</li>
      </ul>
  {{/link-to}}
  {{#link-to 'work.development'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-laptop" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">Web Development</li>
      </ul>
    {{/link-to}}
    {{#link-to 'work.capstone'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">Graduate Work</li>
      </ul>
    {{/link-to}}
    {{#link-to 'work.creative'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-video-camera" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">Creative</li>
      </ul>
    {{/link-to}}
  </div>
  {{outlet}}
  {{!--Broadcasting Section  --}}
  {{!--Web Development Section --}}
  {{!--Masters Degree Section  --}}
</div>
