<div class="work">
  <h2 class="page-titles">
    PORTFOLIO
  </h2>

  <p class="work-graph">
    My work experience ranges from broadcast journalism, to web development, IT, marketing and digital content creation. For each category below, you'll find a few examples of work and some side projects. </p>
    <p class="work-graph">

    If you’d like more information on my work and education history, please visit the {{#link-to 'social'}}Resume{{/link-to}} section.
  </p>
  <div class="port-nav">

    {{#link-to 'work.broadcast'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">BROADCASTING</li>
      </ul>
  {{/link-to}}

  {{#link-to 'work.development'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-laptop" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">DEVELOPMENT</li>
      </ul>
    {{/link-to}}
    {{#link-to 'work.capstone'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">GRADUATE</li>
      </ul>
    {{/link-to}}
    {{#link-to 'work.creative'}}
      <ul class="port-nav__item">
        <li class="port-nav__li-icon"><i class="fa fa-film" aria-hidden="true"></i></li>
        <li class="port-nav__li-title">CREATIVE</li>
      </ul>
    {{/link-to}}
  </div>
  {{outlet}}
  {{!--Broadcasting Section  --}}
  {{!--Web Development Section --}}
  {{!--Masters Degree Section  --}}
</div>
