<div class="work">
  <h2 class="work-title">Portfolio</h2>
  <p class="work-graph">Below is a mixture of work I've accomplished as a broadcaster, web developer, and as a content creator. My time in broadcast news was great, but now I'm focusing on web developent and mulit-media content creation. If you'd like to know more about my
    background, shoot me a <i class="fa fa-envelope-o"></i> and let's grab a cup of <i class="fa fa-coffee"></i>.
  </p>
  <div class="primary-contact__grid">
    <ul class="contact">
      <a href="https://www.google.com">
        <li class="dev-link"><i class="fa fa-television contact-icon"></i></li>
        <li class="dev-link">Broadcasting</li>
      </a>
    </ul>
    <ul class="contact">
      <a href="https://www.google.com">
        <li class="dev-link"><i class="fa fa-laptop contact-icon"></i></li>
        <li class="dev-link">Development</li>
      </a>
    </ul>
    <ul class="contact">
      <a href="https://www.google.com">
        <li class="dev-link"><i class="fa fa-video-camera contact-icon"></i></li>
        <li class="dev-link">Creative</li>
      </a>
    </ul>
  </div>

  {{outlet}}
</div>
